@page "/adoption-form"
@inject ILogger<AdoptionForm> Logger

<h3>Puppy Adoption Form</h3>
<form method="post" @onsubmit="Submit" @formname="adoption-form">
    <AntiforgeryToken/>
    <div>
        <label>
            <div class="col-sm-4">Name:</div>
            <div class="col-sm-8">
                <InputText @bind-Value="Model!.Name"/>
            </div>
        </label>
    </div>
    <div>
        <label>
            <div class="col-sm-4">Address:</div>
            <div class="col-sm-8">
                <InputText @bind-Value="Model!.Address"/>
            </div>
        </label>
    </div>
    <div>
        <label>
            <div class="col-sm-4">Email:</div>
            <div class="col-sm-8">
                <InputText @bind-Value="Model!.Email"/>
            </div>
        </label>
    </div>
    <div>
        <div class="col-sm-4">Payment Type:</div>
        <div class="col-sm-8">
            <InputSelect TValue="string" @bind-Value="Model!.PayType">
                <option>PayPal</option>
                <option>Credit</option>
                <option>Cheque</option>
            </InputSelect>
        </div>
    </div>
    <div>
        @* <button Color="ButtonColor.Primary" type="submit">Place Order</button> *@
        <Button Type="submit" Color="ButtonColor.Primary" To="#"> Place Order </Button>
    </div>
</form>