@page "/adoption-form"


<h3>Puppy Adoption Form</h3>
<EditForm method="post" Model="typeof(PuppyOwner)" OnInvalidSubmit="HandleInvalidSubmit" OnValidSubmit="HandleValidSubmit" FormName="adoption-form">
    <DataAnnotationsValidator/>
    <ValidationSummary class="text-danger"/>
    <div class="form-group mb-3">
        <label for="Name" class="form-label">Name:</label>
        <InputText id="Name" @bind-Value="_puppyOwner.Name" class="form-control"/>
        <ValidationMessage For="@(() => _puppyOwner.Name)"/>
    </div>
    <div class="form-group mb-3">
        <label for="Email" class="form-label">Email:</label>
        <InputText id="Email" @bind-Value="_puppyOwner.Email" class="form-control"/>
        <ValidationMessage For="@(() => _puppyOwner.Email)"/>
    </div>
    <div class="form-group mb-3">
        <label for="PayType" class="form-label">Pay Type:</label>
        <InputSelect id="PayType" @bind-Value="_puppyOwner.PayType" class="form-control">
            <option value="PayPal">PayPal</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
        </InputSelect>
        <ValidationMessage For="@(() => _puppyOwner.PayType)"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Place Order</button>
    </div>
</EditForm>

@if (_isSubmitted)
{
    <p class="text-success mt-3 h3">Adoption Process Started!</p>
}

@code {
    private PuppyOwner _puppyOwner = new();
    private bool _isSubmitted;

    private void HandleValidSubmit()
    {
        _isSubmitted = true;
    }
    
    private void HandleInvalidSubmit()
    {
        // statusClass = "alert-danger";
        // message = "Show a meaningful error message.";
    }
}