@page "/all_puppies"
@attribute [StreamRendering]

<PageTitle>Puppy List</PageTitle>

<h1>Even more puppies</h1>

<p>This component demonstrates showing data.</p>

@if (puppies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Favorite Weather</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var puppy in puppies)
        {
            <tr>
                <td>@puppy.BirthDate.ToShortDateString()</td>
                <td>@puppy.FavoriteWeather</td>
            </tr>
        }
        </tbody>
    </table>
}