@page "/"

<PageTitle>ATDD Puppy Adoption</PageTitle>
<h1>Hello, puppy lovers!</h1>

Welcome to an ATDD reference app. We will pretend to have a puppy adoption site in order to demonstrate how ATDD works.

<h2>Featured Puppies Available</h2>
<table>
    <tr>
        <th>Name</th><th>Picture</th>
    </tr>
    <tr>
        <td>
            <a href="/profile/1" id="1">Brook</a>
        </td>
        <td>
            <img src="images/brook.jpg" alt="Picture of Brook"/>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/profile/2" id="2">Hannah</a>
        </td>
        <td>
            <img src="images/hannah.jpg" alt="Picture of Hannah"/>
        </td>
    </tr>
</table>
