@page "/"

<PageTitle>ATDD Puppy Adoption</PageTitle>
<h1>Hello, puppy lovers!</h1>

Welcome to an ATDD reference app. We will pretend to have a puppy adoption site in order to demonstrate how ATDD works.

<h2>Top Puppies Available</h2>
<table>
    <tr><th>Name</th><th>Picture</th></tr>
    <tr><td><a href="/profile" id="B">Brook</a></td><td><img src="images/brook.jpg" alt="Picture of Brook"/></td></tr>
    <tr><td><a href="#" id="H">Hannah</a></td><td><img src="images/hannah.jpg" alt="Picture of Hannah"/></td></tr>
</table>


