@page "/"

<PageTitle>ATDD Puppy Adoption</PageTitle>

<h1>Hello, puppy lovers!</h1>

Welcome to an ATDD reference app. We will pretend to have a puppy adoption site in order to demonstrate how ATDD works.

<h2>Tasks</h2>
<table class="todo_list">
    <tr><th>To Do</th><th>Doing</th><th>Done</th></tr>    
    <tr><td></td><td></td><td>Add Test Project</td></tr>
    <tr><td>Add One Puppy</td><td></td><td></td></tr>
    <tr><td>Add Click</td><td></td><td></td></tr>
    <tr><td>Add Display</td><td></td><td></td></tr>
    <tr><td>Iterate Puppies</td><td></td><td></td></tr>
    <tr><td>Add DB</td><td></td><td></td></tr>
</table>
