@page "/"

<PageTitle>ATDD Puppy Adoption</PageTitle>

<h1>Hello, puppy lovers!</h1>

Welcome to an ATDD reference app. We will pretend to have a puppy adoption site in order to demonstrate how ATDD works.