@page "/profile/{Id?}"
@rendermode InteractiveServer

<PageTitle>Puppy Profile</PageTitle>

<h1>Profile</h1>
<p role="status">Dog ID: @Id</p>
<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>